# SolidGroundUX SDK workspace layout
# Paths are relative to the repository root.
target-root
target-root/assets
target-root/etc/solidgroundux
target-root/etc/update-motd.d
target-root/etc/systemd/system
target-root/usr/local/assets
target-root/usr/local/bin
target-root/usr/local/sbin
target-root/usr/local/lib
target-root/usr/local/lib/solidgroundux
target-root/usr/local/lib/solidgroundux/common
target-root/usr/local/lib/solidgroundux/globals
target-root/usr/local/lib/solidgroundux/styles
target-root/usr/local/lib/solidgroundux/templates
target-root/usr/local/libexec
target-root/usr/local/libexec/solidgroundux
target-root/usr/local/share
target-root/usr/local/share/solidgroundux
target-root/usr/local/share/solidgroundux/assets
target-root/usr/local/share/solidgroundux/convenience-templates
target-root/usr/local/share/doc
target-root/usr/local/share/doc/{PROJECT_NAME}
target-root/usr/local/share/doc-sources
target-root/var/lib/solidgroundux
target-root/var/lib/solidgroundux/projects
target-root/var/lib/solidgroundux/releases
target-root/var/log/solidgroundux
target-root/var/state
target-root/var/state/solidgroundux
user-root/.config/solidgroundux
user-root/.state/solidgroundux
